<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<app-nav-bar></app-nav-bar>
  <form [formGroup]="userForm" (ngSubmit)="submit()" formDit="'ngForm">

    <div class="container" id="container">
      <div class="form-container sign-in-container">
        <div class="form">
          <h1>Cadastre-se</h1>
    
          <input type="text" formControlName="name" placeholder="Nome Completo" required>
          <input type="email" formControlName="email" placeholder="Email" required>
          <input type="password" formControlName="password1" placeholder="Senha" required>
          <input type="password"  formControlName="password2" placeholder="Repita sua senha" required>
          <button type="submit"  id="buttom;" [disabled]="!userForm.valid">Cadastrar</button>
      </div>
      </div>
      
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Já possui conta?</h1>
            <p>Clique aqui para acessar a nossa aba de login!</p>
            <button class="ghost" id="Logar" routerLink="/login">Entrar</button>
          </div>
        </div>
      </div>
    </div>