<app-nav-bar></app-nav-bar>

<body>
    <div class="main">
        <div class="picture"></div>
        <div class="title">Nova York - EF</div>
        <div class="details">
            <div class="info">
                <h2>Sobre o Programa</h2>
                <p>Um intercâmbio para Nova York oferece uma experiência única em uma das cidades mais vibrantes e icônicas do mundo.
                Durante o programa, você pode estudar inglês em escolas renomadas, explorar pontos turísticos famosos como a Times Square, a Estátua da Liberdade e o Central Park, e mergulhar na cultura diversificada da cidade.
                Além das aulas, o intercâmbio proporciona oportunidades para fazer novos amigos de várias partes do mundo, viver o dia a dia de um nova-iorquino e desenvolver habilidades pessoais e profissionais que vão além da sala de aula.
                É uma chance de crescimento pessoal e imersão em uma cultura rica e dinâmica.</p>
                <h2>Vídeos e Fotos</h2>
                <div class="media" >
                    <div><img [src]="imgcidade2" style="height:100%; width: auto; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);" alt=""></div>
                    <div><img [src]="imgcidade3" style="height:100%; width: auto; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);"alt=""></div>
                </div>
            </div>
            <div class="sidebar">
                <div style="width: 100%;margin-bottom: 2vh;height:10vh">
                    <a href="#" style='float:left'><button class="button2">Salvar</button> </a>
                    <a href="https://www.ef.com.br/pg/intercambio/estados-unidos/nova-york/" target="_blank" style="color:white;text-decoration: none;float:right"><button class="button3">Visitar Site</button></a>
                </div>
                <p><strong>Localização:</strong> Estados Unidos, Nova Iorque</p>
                <p><strong>Duração:</strong> 2-24 semanas</p>
                <p><strong>Agencia:</strong> EF Intercâmbio</p>
                <p><strong>Classificação média:</strong> <strong style="color: gold;margin-left: 1vw;">4.5 ★★★★★</strong></p>
            </div>
        </div>
         <div class="rating">
                <div>
                    <strong>Classificação média</strong><br>
                    125 avaliações
                </div>
            </div>
        <div class="reviews">
            <h2>Avaliações do Programa</h2>
            <div class="review">
                <div class="rating">
                    <div>
                        <strong>Usuário1924</strong><br>
                        03 de Março de 2024<br>
                        Título da análise
                    </div>
                    <div class="stars">4/5</div>
                </div>
                <p>Análise</p>
            </div>
           
        </div>
    </div>
</body>


