<div class="dropdown">
    <button class="dropbtn" (click)="toggleDropdown()">  
        <img [src]="perfil" class="dropbox">
    </button>
    <div class="dropdown-content" [class.show]="isOpen">
        <ul class="drop-itens">
            <li class="itens" *ngIf="userName"><a routerLink="/profile">{{ userName }}</a></li>
            <li class="itens">
                <a routerLink="/login">
                    {{ userName ? 'Finalizar Sessao' : 'Entrar na conta' }}
                </a>
            </li>
        </ul>
    </div>
</div>
