<div class="dropdown">
    <button class="dropbtn" (click)="toggleDropdown()">
        <img [src]="dropbox" class="dropbox">
    </button>
    <div class="dropdown-content" [@slideInOut]="stateName">
        <ul class="drop-itens">
            <li class="itens" (click)="navigateTo('/agencias')">
                <img [src]="globo" class="item-image">
                <a [routerLink]="['/agencias']" style="margin-left: 1vh;">Agências</a>
            </li>
            <li class="itens" (click)="navigateTo('/favoritos')">
                <img [src]="favorite" class="item-image">
                <a [routerLink]="['/favoritos']" style="margin-left: 1vh;">Favoritos</a>
            </li>
            <li class="itens" (click)="navigateTo('/documentation')">
                <img [src]="document" class="item-image">
                <a [routerLink]="['/documentation']" style="margin-left: 1vh;">Documentação</a>
            </li>
            <li class="itens" (click)="navigateTo('/programas')">
                <img [src]="books" class="item-image">
                <a [routerLink]="['/programas']" style="margin-left: 1vh;">Programas</a>
            </li>
            <li class="itens" (click)="navigateTo('/destinos')">
                <img [src]="gps" class="item-image">
                <a [routerLink]="['/destinos']" style="margin-left: 1vh;">Destinos</a>
            </li>
            <li class="itens" (click)="navigateTo('/sobre')">
                <img [src]="person" class="item-image">
                <a [routerLink]="['/sobre']" style="margin-left: 1vh;">Sobre nós</a>
            </li>
        </ul>
    </div>
</div>
