.dropdown {
    position: relative;
    display: inline-block;
    height: 7vh; /* Altura fixa para o botão de hambúrguer */
}

.dropbtn {
    background-color: #004aad;
    color: white;
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height: 100%; /* A altura do botão será a mesma do container */
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1000; /* Garante que o botão fique acima da sidebar */
    position: relative;
    margin-left: 1.5vh;
}

.dropbox {
    height: 100%;
    width: auto;
    object-fit: contain;
}

.dropdown-content {
    position: fixed;
    top: 7vh; /* Posiciona a sidebar logo abaixo do botão de hambúrguer */
    left: 0;
    background-color: #004aad;
    width: 20vw;
    height: 93vh; /* O restante da tela abaixo do ícone */
    z-index: 1; /* Sidebar com z-index menor para não sobrepor o botão */
    overflow: hidden;
    transform: translateX(-100%); /* Sidebar fora da tela inicialmente */
}

.dropdown-content.show {
    transform: translateX(0); /* Move a sidebar para dentro da tela */
    transition: transform 0.3s ease-in-out; /* Animação suave de entrada */
}

.drop-itens {
    list-style-type: none;
    padding: 0;
    margin-top: 1vh;
}

.itens {
    display: flex;
    align-items: center;
    padding: 1vh;
    margin-left: 1vh;
    transition: background-color 0.3s, transform 0.3s ease;

}

.itens:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

.item-image {
    width: 3vw;
}

.itens a {
    color: white;
    text-decoration: none;
    font-size: 15pt;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    z-index: 999; /* Para que fique abaixo da dropbox, mas acima do conteúdo */
    display: none; /* Inicialmente escondido */
}

/* Exibir a sobreposição e a dropbox */
.dropdown-content.show ~ .overlay {
    display: block;
}