<app-nav-bar [disableLogoImg]="true"></app-nav-bar>

<body>
    <div class="main">
        <div class="title">Paris - EF</div>
        <div class="details">
            <div class="info">
                <h2>Sobre o Programa</h2>
                <p>Paris é uma cidade de atrações icônicas e estilo incomparável, desde as obras-primas atemporais do Louvre até as tendências da moda das butiques da Rue du Faubourg Saint-Honor. Nosso campus com localização privilegiada fica ao lado do icônico shopping Galeries Lafayette, no elegante bairro central de Les Grands Boulevards.

                </p>
                <h2>Vídeos e Fotos</h2>
                <div class="media" >
                    <div><img [src]="imgcidade2" style="height:100%; width: auto; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);" alt=""></div>
                    <div><img [src]="imgcidade3" style="height:100%; width: auto; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); "alt=""></div>
                </div>
            </div>
            <div class="sidebar">
                <a href="#" ><button class="button2">Salvar Programa</button> </a>
                <p><strong>Localização:</strong> França, Paris</p>
                <p><strong>Duração:</strong> 2-3 Semanas</p>
                <p><strong>Preço:</strong> U$ 1.750</p>
                <p><strong>Agencia:</strong> EF - Eduacation First</p>
            </div>
        </div>
        <div class="inclusion">
            <h2>O que está incluso</h2>
            <p>
               - 20, 26 ou 32 aulas de francês de 40 minutos por semana.
                <br>
               - Casa de família, residências estudantis ou apartamentos compartilhados.
                <br> 
               - Testes de colocação e progresso.
                <br>
               - Certificado do Curso EF.
                <br>
               - Encontros de networking e desenvolvimento de habilidades interpessoais.
                <br>
               - Festa de boas-vindas, tour pela cidade, muitas atividades na escola, festa de formatura.</p>
               <a href="https://www.ef.com.br/lt/destinations/france/paris/?_gl=1*qxgarq*_up*MQ..&gclid=CjwKCAjwyJqzBhBaEiwAWDRJVBaZjp0VCOZ-i8eQ6o0Y4UNhe9EHfdAlWk3FN7QcBTc1MS3COBw6PRoC_l8QAvD_BwE&gclsrc=aw.ds" target="_blank" style="color:white;text-decoration: none;"><button class="button">Visitar Site</button></a>

        </div>
        <div class="reviews">
            <h2>Avaliações do Programa</h2>
            <div class="review">
                <div class="rating">
                    <div>
                        <strong>Usuário1924</strong><br>
                        03 de Março de 2024<br>
                        Título da análise
                    </div>
                    <div class="stars">4/5</div>
                </div>
                <p>Análise</p>
                <button>Útil?</button>
            </div>
            <div class="rating">
                <div>
                    <strong>Classificação média</strong><br>
                    125 avaliações
                </div>
                <div class="stars">4.5 ★★★★★</div>
            </div>
        </div>
    </div>
</body>


