body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #0b245c;
    color: white;
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    font-size: 2vh;
}
.header .login {
    font-size: 2vh;
}
.main {
    padding: 2vh 2vw;
}
.main .title {
    position: relative;
    background-image: url('/../assets/paris.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0px 0px 10px black;
    color: white;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vh;
    margin-bottom: 2vh;
    font-weight: bold;
  }
  
  .main .title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: -1; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    filter: brightness(0.75); 
  }
.main .details {
    display: flex;
    justify-content: space-between;
}
.main .details .info {
    width: 60vw;
}
.main .details .info h2 {
    font-size: 2.5vh;
    margin-bottom: 1vh;
}
.main .details .info p {
    font-size: 2vh;
    margin-bottom: 2vh;
}
.main .details .sidebar {
    width: 30vw;
    border: 1px solid #ccc;
    padding: 2vh;
    font-size: 2vh;
}
.main .details .sidebar .button {
    display: block;
    width: 100%;
    padding: 1vh;
    text-align: center;
    background-color: #d3d3d3;
    margin-bottom: 2vh;
    text-decoration: none;
    color: black;
}
.main .media {
    display: flex;
    margin-bottom: 2vh;
}
.main .media div {
    margin-right: 2vh;
    height: 20vh;
}
.main .inclusion, .main .reviews {
    margin-bottom: 2vh;
}
.main .inclusion h2, .main .reviews h2 {
    font-size: 2.5vh;
    margin-bottom: 1vh;
}
.main .inclusion p, .main .reviews p {
    font-size: 2vh;
    margin-bottom: 2vh;
}
.main .reviews .review {
    border: 1px solid #ccc;
    padding: 1vh;
    margin-bottom: 2vh;
}
.main .reviews .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .reviews .rating .stars {
    color: gold;
}
.button{
    text-decoration: none;
    background-color: #007BFF; /* Azul */
    color: white; /* Texto branco */
    border: none;
    padding: 2vh 4vw; /* Altura e largura usando vh e vw */
    font-size: 2vh; /* Tamanho da fonte usando vh */
    border-radius: 1vh; /* Bordas arredondadas usando vh */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #0056b3; /* Azul mais escuro */
    transform: scale(1.05);
}

.button:active {
    background-color: #004494; /* Azul ainda mais escuro */
    transform: scale(0.95);
}
.button2{
    text-decoration: none;
    background-color: #b5a905; /* Azul */
    color: white; /* Texto branco */
    border: none;
    padding: 2vh 4vw; /* Altura e largura usando vh e vw */
    font-size: 2vh; /* Tamanho da fonte usando vh */
    border-radius: 1vh; /* Bordas arredondadas usando vh */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

}

.button2:hover {
    background-color: #8d8403; /* Azul mais escuro */
    transform: scale(1.05);
}

.button2:active {
    background-color: #766e02; /* Azul ainda mais escuro */
    transform: scale(0.95);
}
.a {
    text-decoration: none;
    color: white;
}