<app-nav-bar></app-nav-bar>
<div class="hero-container" *ngFor="let content of Contents">
    <div class="hero-image">
      <img [src]="content.photo1" alt="{{ content.city }}" class="city-image">
      <div class="overlay-text">
        <h1>{{ content.city }}</h1>
      </div>
    </div>
    <div class="content-section">
      <div class="text-content">
        <p class="description">
        {{ content.description }}
        </p>
      </div>
      
      <div class="info-box">
        <div class="info-item">
          <h3>Localização:</h3>
          <p>{{ content.country }}</p>
        </div>
        <div class="info-item">
          <h3>Duração:</h3>
          <p>{{ content.time }} Semana(s)</p>
        </div>
        <div class="info-item">
          <h3>Agência:</h3>
          <p>{{ content.agency }}</p>
        </div>
        <div class="info-item">
          <h3>Idioma</h3>
          <p>{{ content.price }}</p>
        </div>
        <div class="info-item">
          <h3>Classificação média:</h3>
          <p>5 ★★★★★</p>
        </div>
      </div>
      
      <a [href]="content.link" target="_blank" style="color:white; text-decoration:none;">

      <div class="action-section">
        <button class="learn-more">Saiba mais</button>
      </div>
    </a>
    </div>
  </div>
  
  <app-footer></app-footer>