.nav {
  height: 8vh; 
  background-color:#004aad;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 0;
  margin: 0; 

}

.nav-item {
  display: flex;
  align-items: center;
  height: 8vh; 
}

.mundo {
 height: 8vh; 
 margin-bottom: 1vh;
}

.perfil-login {
  height: 8vh; 
  width: 8vh;
  border-radius: 50%;
  margin-bottom: 5px;
  
}

.dropdown {
  width: auto;
}

.dropbox {
  height: 8vh; 
  background-color:#004aad;
}

.nav-item.dropdown {
  flex: 1;
}

.nav-item.mundo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-item.perfil-login {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.nav-item p{
  font-size: 20pt;
  color: white;
  margin-top: 1.5vh;
}
.a {
  color: white;
  margin: 0 2vw;
  text-decoration: none;
  font-size: 2.5vh;
}