<!-- <app-nav-bar></app-nav-bar> -->
<div class="container" id="container">
  <div class="form-container sign-in-container">
    <div class = "form">
      <h1>Login</h1>

      <!-- <input type="email" [(ngModel)]="email"  placeholder="Digite seu email" required>
      <input [(ngModel)]="password" type="password" placeholder="Senha" required> -->
      
      <button type="button" (click)="doLogin()" [disabled]="!password || !email" >ENTRAR</button>
      <div id="google-btn" style="  margin-top: 6%; margin-bottom: 4%;">

      </div>
  </div>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Não possui conta?</h1>
        <p>Clique no botão abaixo para acessar nossa aba de cadastro!</p>
        <button class="ghost" id="signUp" routerLink="/sign-up">Cadastre-se</button>
      </div>
    </div>
  </div>
</div>
