<div class="section">
    <div class="content">
      <h2>Sobre o InterCult</h2>
      <div class="line"></div>
      <p>
        O InterCult é um website de pesquisa dedicado a programas de intercâmbio, oferecendo uma seleção diversificada de programas de diferentes agências especializadas. Os usuários podem filtrar as opções de acordo com suas preferências, como tipo de curso, destino, estimativa de preço, entre outros critérios. O objetivo da plataforma é facilitar a busca por intercâmbios, reunindo as principais alternativas em um único lugar, com filtros avançados que atendem especialmente a estudantes interessados em estudar no exterior.
      </p>
    </div>
    <div class="image">
      <img src="assets/images/hiking.jpg" alt="Pessoa caminhando em montanha">
    </div>
  </div>
  
  <div class="section">
    <div class="image">
      <img src="assets/images/laptop.jpg" alt="Pessoa digitando em laptop">
    </div>
    <div class="content">
      <h2>Criação do Projeto</h2>
      <div class="line"></div>
      <p>
        Este projeto foi desenvolvido como parte do Trabalho de Conclusão de Curso (TCC) da Escola Técnica Estadual Jorge Street. A ideia surgiu quando um dos membros da equipe estava interessado em realizar um intercâmbio, mas encontrou dificuldades devido à dispersão das informações em diversas fontes na internet. A partir desse desafio, nasceu o InterCult, uma plataforma que reúne a maioria dos programas de intercâmbio em um só lugar, facilitando o acesso e a comparação entre as opções disponíveis.
      </p>
    </div>
  </div>
  
  <div class="social-media">
    <p>Acompanhe-nos</p>
    <div class="icon">
      <img src="assets/images/instagram.png" alt="Ícone do Instagram">
    </div>
  </div>
  