
<div class="form-container">
    <div class="dropdown-container">
        <label for="location">Local</label>
        <select id="location">
            <option value="all">Todos</option>
        </select>
    </div>
    <div class="dropdown-container">
        <label for="duration">Duração</label>
        <select id="duration">
            <option value="any">Tempo </option>
        </select>
    </div>
    <div class="dropdown-container">
        <label for="course">Curso</label>
        <select id="course">
            <option value="all">Todos</option>
        </select>
    </div>
    <button class="search-button" [routerLink]="['/results']">Pesquisar</button>
</div>

