
<div class="form-container">
    <div class="dropdown-container">
        <label for="location">Local</label>
        <select id="location">
            <option value="all">Todos</option>
        </select>
    </div>
    <div class="dropdown-container">
        <label for="price">Preço</label>
        <select id="price">
            <option value="any">Qualquer preço</option>
        </select>
    </div>
    <div class="dropdown-container">
        <label for="course">Curso</label>
        <select id="course">
            <option value="all">Todos</option>
        </select>
    </div>
    <button class="search-button">Pesquisar</button>
</div>

