<div class="form-container">
    <div class="dropdown-container" >
        <label for="location">Local</label>
        <select id="location" [(ngModel)]="selectedLocation">
            <option *ngFor="let local of locais" [value]="local">{{local}}</option>
        </select>
    </div>
    <div class="dropdown-container">
        <label for="agence">Agência</label>
        <select id="agence" [(ngModel)]="selectedAgency">
            <option *ngFor="let agencia of agencias" [value]="agencia">{{agencia}}</option>
        </select>
    </div>
    <div class="dropdown-container">
        <label for="price">Tipo de Curso</label>
        <select id="price" [(ngModel)]="selectedType">
            <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
    </div>
    <button class="search-button" (click)="onSearch()">Pesquisar</button>
</div>
