<app-nav-bar></app-nav-bar>
<div class="profile-container">
  <div class="img-container">
    <div class="profile-picture">
      <img [src]="profileImgSrc" alt="Profile Picture">
      <input type="file" #fileInput accept="image/*" style="display: none;">
    </div>
  </div>
  <form class="profile-form">
    <div class="form-group">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" [(ngModel)]="userName">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="userEmail">
    </div>

    <div class="form-link"><a href="#">Alterar Senha</a></div>
    <div class="form-button"><button type="button">Salvar alterações</button></div>
  </form>
</div>
