<div class="programs">
    <div class="titulo">
        <h2>Programas em alta</h2>
    </div>
    <div class="carousel">
        <button class="carousel-arrow left" (click)="moveCarousel('prev')" [class.disabled]="currentIndex === 0">
            &#9664; <!-- Seta para a esquerda -->
        </button>
        <div class="program-container">
            <div class="program" *ngFor="let content of visibleContents">
                <img [src]="content.photo1" alt="Programa" [routerLink]="['/content', content.id]">
                <div class="details" [routerLink]="['/content', content.id]">
                    <a>{{ content.city }} - {{ content.type }}</a>
                    <p>{{ content.country }} - {{ content.agency }}</p>
                    <p>★★★★★ 5</p>
                </div>
            </div>
        </div>
        <button class="carousel-arrow right" (click)="moveCarousel('next')" [class.disabled]="currentIndex + visibleCount >= Contents.length">
            &#9654; <!-- Seta para a direita -->
        </button>
    </div>
</div>
