<div class="programs">
    <div class="titulo">
        <h2>Programas em alta</h2>
    </div>
    <div class="carousel">
        <a href="#">&#9664;</a>
        <div class="program">
            <img [src]="imgcidade3" alt="Programa">
            <div class="details">
                <span>Agência</span>
                <a href="#">Programa/Curso</a>
                <p>País, Cidade</p>
                <p>Preço - $0,00</p>
                <p>★★★★☆ 4.90</p>
            </div>
        </div>
        <div class="program">
            <img [src]="imgcidade1" alt="Programa">
            <div class="details">
                <span>Agência</span>
                <a href="#">Programa/Curso</a>
                <p>País, Cidade</p>
                <p>Preço - $0,00</p>
                <p>★★★★☆ 4.90</p>
            </div>
        </div>
        <div class="program">
            <img [src]="imgcidade2" alt="Programa">
            <div class="details">
                <span>Agência</span>
                <a href="#">Programa/Curso</a>
                <p>País, Cidade</p>
                <p>Preço - $0,00</p>
                <p>★★★★☆ 4.90</p>
            </div>
        </div>
        <a href="#">&#9654;</a>
    </div>
</div>